@media (min-width: 300px) {
   .footer-container {
      padding-top: 1.5rem;
      padding-bottom: 0;
   }

   .social-media-icons {
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;
   }

   .copyright-col {
      text-align: center;
   }

   .copyright {
      font-weight: 300;
      font-size: 0.875rem;
      color: #ffffff;
      margin: 0 0 0.25rem 0;
      padding: 0 0 0.5rem 0;
   }
}

@media (min-width: 768px) {
   .footer-container {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   .footer-container .standard-width {
      width: 80% !important;
   }

   .social-media-icons {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
   }

   .copyright-col {
      text-align: right;
   }

   .copyright {
      font-weight: 300;
      font-size: 0.875rem;
      color: #ffffff;
      margin: 0.5rem 0 0.5rem 0;
      padding: 0;
   }
}

a.footer-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}

a.footer-link:link {
   color: #ffffff;
   text-decoration: none;
}

a.footer-link:visited {
   color: #ffffff;
   text-decoration: none;
}

a.footer-link:hover {
   color: #ffffff;
   text-decoration: none;
}

a.footer-link:active {
   color: #ffffff;
   text-decoration: none;
}