@media (min-width: 300px) {
    .questions-or-comments-container {
        width: 16rem;
    }

    .questions-or-comments-text {
        margin: 0;
        line-height: 1.5rem;
    }
}

@media (min-width: 768px) {
    .questions-or-comments-container {
        width: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .questions-or-comments-text {
        margin-bottom: 0.5rem;
        line-height: 1rem;
    }
}

.questions-or-comments-header {
    font-weight: 200;
    font-size: 2.0625rem;
    color: #366cf8;
}

.questions-or-comments-text {
    font-weight: 300;
    font-size: 1.0625rem;
}